services:
  house-bot:
    container_name: house-bot
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    init: true
    env_file:
      - .env
    environment:
      TZ: America/Sao_Paulo
    volumes:
      - ./credentials.json:/app/credentials.json:ro
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
